*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #e9edc9;
    
}


h1{
    color: #283618;
}

h2{
    color: #606c38;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  
}
h3{
    color: #606c38;
    padding-top: 5px;
    padding-bottom: 5px;
}

img{
    width: 600px;
    border-radius: 5px;
}

#druganavigacija {
    border: 2px solid black;
    border-radius: 5;
    padding: 20px;
    border-radius: 5px;
}

ul{
    
}

section:first-of-type{
    background-color: #606c38;
}


a img{
    width: 50px;
    float: left;
}


#mainnav{
    float: left;
    padding-left: 10px;
    padding-top: 20px;
    
   
}

.navbar {
    display: inline-block;
    padding-right: 10px;
    font-size: 20px;
    
}

.komentar{
    background-color: #283618;
    color: bisque;
    border-radius: 15px;

}

textarea, input{
    border-radius: 15px;
}


p::first-letter{
    font-weight: bold;
    color: #283618;
}
